<li ng-repeat="widget in $root.dashboard.widgets" gridster-item>
    <md-content ng-style="{'height':widget.mheight}" style="overflow:auto;" layout="row" flex>
        <div style="height:100%;width:100%" ng-include src="widget.widView"></div>
    </md-content>
    <md-toolbar class="digin-widget-toolbar" layout="row" layout-align="center center" flex>
            <div style="font-size:large;" layout-margin flex>{{widget.uniqueType}}</div>
            <div layout="row" layout-align="end center" flex>
            <md-button ng-if="widget.initCtrl=='elasticInit' || 'metricInit'" ng-click="syncWidget(widget)">
                <md-icon class="ion-android-sync digin-widget-toolbar-icon"></md-icon>
            </md-button>
            <md-button ng-click="widgetSettings(widget)">
                <md-icon class="ion-settings digin-widget-toolbar-icon"></md-icon>
            </md-button>
            <md-button ng-click="showWidget($event,widget)">
                <md-icon class="ion-arrow-resize digin-widget-toolbar-icon"></md-icon>
            </md-button>
            <md-button ng-click="remove(widget)">
                <md-icon class="ion-close digin-widget-toolbar-icon"></md-icon>
            </md-button>
            </div>
    </md-toolbar>
</li>

